<div class="container">
  <div class="pt-5">
    <div class="card">
      <div class="card-header">
        <h3>
          Wszystkie zakupione książki
        </h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Cena</th>
            <th scope="col">Data zakupu</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let purchase of purchases; index as index">
            <th scope="row">{{index+1}}</th>
            <td>{{purchase.title}}</td>
            <td>{{purchase.price}}</td>
            <td>{{purchase.purchaseTime | date: 'medium'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
